.main {
  flex: 1;
  background-color: #dedede;
  display: flex;

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 20px;
  }

  &__text {
    text-align: left;
    margin-top: 20px;
  }
}
