.fileuploader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
  }

  &__filenames {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }
}
